*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Heap dumps and logs
*.hprof
build_logs*.txt

# Python caches
__pycache__/
*.pyc

.kotlin/
build_output.txt

